{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ],
          "node": "current"
        }
      }
    ],
    "es2015",
    "react",
    "stage-2"
  ],
  "plugins": [
    ["babel-plugin-styled-components",
      {
        "displayName": false,
        "fileName": false
      }
    ],
    "transform-class-properties",
    "rewire"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}